Repository Facix/devops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/facix, kind/documentation, area/workflow, kind/dependencies, kind/tests, kind/storybook

.github/labeler.yml:

area/facix:
  - src/**/*

kind/documentation:
  - documentation/**/*

area/workflow:
  - .github/workflows/**/*

kind/dependencies:
  - "**/*/.yarn/**/*"
  - "**/*/.yarnrc.yml"
  - "**/*/yarn.lock"

kind/tests:
  - "**/*/*.spec.*"

kind/storybook:
  - "**/*/*.stories.*"

feat(facix): add basics project files and configuration
  .eslintrc.js
  .gitignore
  .prettierrc.js
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  apps/facix/assets/css/base.css
  apps/facix/assets/css/chrome-bug.css
  apps/facix/assets/css/components.css
  apps/facix/assets/css/main.css
  apps/facix/assets/css/nprogress.css
  apps/facix/assets/fonts/mui.css
  apps/facix/components/common/Head/Head.tsx
  apps/facix/components/common/Head/index.ts
  apps/facix/components/common/NextSeo/NextSeo.tsx
  apps/facix/components/common/NextSeo/index.ts
  apps/facix/components/common/SEO/Seo.tsx
  apps/facix/components/common/SEO/index.ts
  apps/facix/components/common/index.ts
  apps/facix/config/seo_meta.json
  apps/facix/hooks/index.ts
  apps/facix/hooks/use.ts
  apps/facix/hooks/useClickAway.ts
  apps/facix/hooks/useNProgress.ts
  apps/facix/hooks/useScrollLock.ts
  apps/facix/hooks/useWindowDimensions.ts
  apps/facix/interfaces/apiError.d.ts
  apps/facix/interfaces/pages/index.d.ts
  apps/facix/next-env.d.ts
  apps/facix/next.config.js
  apps/facix/package.json
  apps/facix/pages/_app.tsx
  apps/facix/pages/_document.tsx
  apps/facix/pages/index.tsx
  apps/facix/process.d.ts
  apps/facix/tsconfig.json
  package.json
  turbo.json
  yarn.lock
Labels: none

feat(facix): update readme
  README.md
Labels: none

remove node version restriction
  apps/facix/package.json
Labels: none

test(test): add jest test env
  __mocks__/gettextFileTransformer.js
  apps/facix/pages/index.spec.tsx
  apps/facix/pages/index.tsx
  apps/facix/test/applicationUtils.tsx
  apps/facix/test/componentUtils.tsx
  apps/facix/test/setupTests.ts
  jest.config.js
  package.json
  yarn.lock
Labels: kind/tests

feat/update-readme (#2)
  README.md
  apps/facix/package.json
Labels: none

test(tests): setup jest
  README.md
  __mocks__/gettextFileTransformer.js
  apps/facix/assets/css/nprogress.css
  apps/facix/package.json
  apps/facix/pages/index.spec.tsx
  apps/facix/pages/index.tsx
  apps/facix/test/applicationUtils.tsx
  apps/facix/test/componentUtils.tsx
  apps/facix/test/setupTests.ts
  jest.config.js
  package.json
  yarn.lock
Labels: kind/tests

remove engines
  apps/facix/package.json
Labels: none

test(tests): setup jest (#4)
  README.md
  __mocks__/gettextFileTransformer.js
  apps/facix/assets/css/nprogress.css
  apps/facix/pages/index.spec.tsx
  apps/facix/pages/index.tsx
  apps/facix/test/applicationUtils.tsx
  apps/facix/test/componentUtils.tsx
  apps/facix/test/setupTests.ts
  jest.config.js
  package.json
  yarn.lock
Labels: kind/tests

feat(facix): implement storybook
  apps/facix/.storybook/main.js
  apps/facix/components/common/Button/Button.stories.tsx
  apps/facix/components/common/Button/Button.tsx
  apps/facix/components/common/Button/index.ts
  apps/facix/package.json
  apps/facix/public/__tmp__.json
  package.json
  yarn.lock
Labels: kind/storybook

remove node version restriction
  apps/facix/package.json
Labels: none

feat: create readme
  README.md
Labels: none

feat: update readme
  README.md
Labels: none
