Repository Facix/devops, pull requests merged in 2023-04, with the labels that each got.

#2 feat/update-readme
  README.md
  apps/facix/package.json
Labels: area/facix

#4 test(tests): setup jest
  README.md
  __mocks__/gettextFileTransformer.js
  apps/facix/assets/css/nprogress.css
  apps/facix/pages/index.spec.tsx
  apps/facix/pages/index.tsx
  apps/facix/test/applicationUtils.tsx
  apps/facix/test/componentUtils.tsx
  apps/facix/test/setupTests.ts
  jest.config.js
  package.json
  yarn.lock
Labels: kind/tests

#8 feat(facix): implement storybook
  apps/facix/.storybook/main.js
  apps/facix/components/common/Button/Button.stories.tsx
  apps/facix/components/common/Button/Button.tsx
  apps/facix/components/common/Button/index.ts
  apps/facix/package.json
  apps/facix/public/__tmp__.json
  package.json
  yarn.lock
Labels: kind/storybook
